.button {
  flex-direction: row;
  justify-content: center;
  border: .4rem solid black; 
  border-radius: .5rem;
  margin: 1rem;
  font-size: 2.5rem;
  padding: 1rem .5rem;
  transition: all .07s;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  font-family: sans-serif;
}

.playing {
  transform: scale(1.1);
  border-color: yellow;
  box-shadow: 0 0 1rem yellow;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: yellow;
}

